.about {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media (max-width: $mobile) {
        grid-template-columns: 1fr;
    }
    &__image {
        background: url('../assets/img/about-image.png');
        background-size: cover;
        min-height: 30vw;
    }
    &__container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: $white;
    }

    &-list {
        list-style: none;
        padding: 0;
        margin: 2rem auto;
        max-width: 503px;
    }
    .about-item__tittle, .about-item__description  {
        font-size: 0.875rem;
        font-weight: 300;
        text-transform: uppercase;
        line-height: 1.571;
        margin: 0
      }
      .about-item__tittle{
          color: $violet;
          letter-spacing: 8px;
      }
      .about-item__description {
        max-width: 360px;
        margin: 0;
        padding: 0 0 50px;
        color: $light-violet;
      }
}