.columns {
    padding: 30px 0 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1110px;
    min-height: 625px;
}

.columns-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
    margin: 0;
    padding: 0;
    @media (max-width: 1200px) {
        grid-template-columns: 1fr;
    }
    &__item {
        background-color: $white;
        height: 26.875rem;
        width: 21.875rem;
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: space-around;
        text-align: center;
        transition: transform 0.5s ease-in-out, box-shadow 0.5s;
        box-shadow: 0;
        &:hover {
            transform: translate(0, -20px) scale(1.1);
            box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
        }
        }

    &__tittle {
        max-width: 12.125rem;
        font-size: 1rem;
        font-family: "Roboto";
        color: $black;
        font-weight: bold;
        line-height: 1.2;
    }

    &__description {
        font-size: 1rem;
        color: $black;
        line-height: 1.2;
        width: 15.437rem;
        height: 13rem;
    }
    &__link {
        font-size: 1rem;
        color: $blue;
        line-height: 1.2;
    }       
}