.description {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34.375rem;

    &__tittle {
    max-width: 49.375rem;
    font-size: 2.25rem;
    font-family: "Roboto";
    color: $black;
    line-height: 1.2;
    text-align: center;
    }
  }
  