.footer {
    height: 460px;
    background-color: $dark-grey;

    &__image {
        background: url('../assets/img/map.png') no-repeat center center;
        background-size: cover;
        width: 50%;
        height: 100%;
    }
}

.footer-locaction {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1110px;
    height: 460px;

    &__contact  {
    height: 70%;
    max-width: 555px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }

    &__description, &__phone, &__email {
        font-size: 1rem;
        font-family: "Roboto";
        color: $white;
        line-height: 1.5;
        text-align: left;
    }
}
.footer-bottom {
    margin: 0 auto;
    height: 120px;
    max-width: 1110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social-icon {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}