.some-text{

    &__container {
        max-width: 1110px;
        margin: 186px auto ;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $white;
          
    }
    &__tittle {
        margin: 104px auto 84px;
        font-size: 2.5rem;
        font-family: "Roboto Slab";
        color: $black;
        text-transform: uppercase;
        line-height: 1.2;
        }

        &__description {
        margin: 0 auto;
        max-width: 750px;
        font-size: 1.25rem;
        font-family: "Roboto";
        color: $black;
        line-height: 1.4;
        }
        &__button {
        margin: 160px 0 111px;
        padding: 22px 39px;
        border-style: solid;
        border-width: 2px;
        border-color: $black;
        background-color: $white;
        text-transform: uppercase;
        font-size: 1.125rem;
        font-family: "Roboto";
        line-height: 1.333;
        }

        &__link {
        display: inline-block;
        color: $black;
        margin: 160px 0 111px;
        padding: 22px 39px;
        border-style: solid;
        border-width: 2px;
        border-color: $black;
        text-decoration: none;
        background-color: $white;
        text-transform: uppercase;
        font-size: 1.125rem;
        font-family: "Roboto";
        line-height: 1.333;
        vertical-align: middle;
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        position: relative;
        transition: transform 0.5s ease-in-out;
        &:hover, :focus, :active {
            color: white;
            transform: scale(1.2);
        }

        &:before {
            content: "";
            position: absolute;
            background-color : $black;
            width: 100%;
            height: 100%;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transform: scaleX(0);
            transform-origin: 0 50%;
            transition: transform .5s ease-out;
          }
          &:hover:before {
            transform: scaleX(1);
        }
         
    }
}
